body {
    background-color: grey;
}

.cardSection {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
}

.cardSection > * {
    margin: 0 10px 0 10px;
    padding: 4px;
    border: black 2px solid;
    border-radius: 2px;
}